@charset "UTF-8";
.aside1 {
	position: fixed;
	right: 0;
	top: 50%;
	width: 68px;
	margin-top: -200px;
	background-color: transparent;
	z-index:999;
}
.aside1 img {border:none;}
.aside1 div {
	height: 15px;
}
.aside1 ul,.aside1 li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.aside1 li {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 1px;
	text-align: center;
	font-size: 12px;
	color: #333;
	background-color: rgba(255,255,255,.8);
}
.aside1 li img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}
.aside1 li a{
	color: #333;
	text-decoration: none;
}
.aside1 li:hover {
	background-color: #ffdada;
}
.aside1 li:hover a {
	text-decoration: underline;
}
.aside1 .close{
	position: relative;
}
.aside1 .close img {
	position: absolute;
	left: 0;
	top: 0;
}
.aside1 .close .off {
	display: none;
}
.aside1 .close:hover .on {
	display:none;
}
.aside1 .close:hover .off {
	display:inline-block;
}